@page "/manager"

<PageTitle>manager</PageTitle>

<button @onclick=onClick>@counter</button>

@foreach (var item in group.People)
{
    <h4>@item.Name</h4>
}

@code
{
    Library.Group group = new Library.GroupBuilder().Name("test")
                                                    .ArrangementType(gratch.Library.EArrangementType.OneByOne)
                                                    .GetResult() ?? throw new Exception("wtf");

    int counter = 0;
    void onClick()
    {
        counter++;
        group.AddPerson(new Library.Person($"pers {counter}"));
        
    }
}